body {
  margin: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

main {
  width: 626px;  
  margin: 64px auto;
}
#img1 {
  margin: 0 auto 32px;
}

h1 {
  margin: 0 auto 16px;
  width: 494px;
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #3F3D56;
}

h1 span {
  font-weight: 700;
  color: #EE24FF;
}

#pUmH1 {
  margin: 0 36px 32px 50px;
  width: 540px;
  height: 107px;
}

main p + p {
  margin-bottom: 64px;  
  width: 626px;
  height: 21px;
}

main p {
  color: #828282;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

main p strong {
  font-weight: 700;
  color: #3F3D56;
}

/* Flutuar*/
#flutuar {
  font-weight: 700;  
}

#line {
  width: 391px;
  height: 0px;
  border: 1px solid #ECEFF2;
  margin: 0 auto 16px;
}

footer{
  margin: 0 21px;
  
}

footer span{
  margin: 0 21px 40.83px;
  color: #3F3D56;
  font-size: 15px;
  font-weight: 700;
  line-height: 147.682%;
}

#wave {
 
  position: relative;
  margin: 40.8px 0 0;
  width: 1024px;
  height: 104px;
   
}